<h1>New Post</h1>
<%= form_for Taggable(post), html: { role: "form" } do |f| %>
   <%= render 'shared/error_messages', object: f.object %>
   <div class="form-group">
      <%= f.text_field :title, class: "form-control", placeholder: "title" %>
   </div>
   <div class="form-group">
      <%= f.text_area :body, class: "form-control", placeholder: "body" %>
   </div>
   <div class="form-group">
      <%= f.text_field :image_url, class: "form-control", placeholder: "Picture URL" %>
   </div>
   <div class="form-group">
      <%= f.text_field :tags, class: "form-control", placeholder: "tags" %>
   </div>
   <%= f.submit "登録" , class: "btn btn-default" %>
<% end %>

